<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\MSSQLSERVER;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <add key="appPath" value="http://loadar.pongo.local" />
    
    <!-- WHERE to save images -->
    <add key="contentPathForImages" value="/custom/content/images/" />
    
    <!-- see http://stackoverflow.com/questions/8824244/url-encoded-form-data-is-not-valid -->
    <add key="aspnet:MaxHttpCollectionKeys" value="20000" />
    
    <!-- user security settings -->
    <add key="security_session_expiry_in_seconds" value="604800" /> <!-- 7 days -->
  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="10240" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.elasticemail.com" userName="shourov@pongolabs.com" password="1dfdb317-9619-40cb-a153-f225ba72a0e0" port="2525" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="register.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <!-- unload the minimao module before it is loaded -->
      <!-- See: http://stackoverflow.com/questions/23350985/iis-express-http-error-500-19-0x800700b7-on-mimemap-for-fileextension-set -->
      <remove fileExtension=".appcache" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <remove fileExtension=".properties" />
      <mimeMap fileExtension=".properties" mimeType="text/plain" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name=" X-Frame-Options" value="deny" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>